{% extends 'default.html' %}

{% block tour %}
    <li><a href="{% url 'authority_tour' %}">Page Tour</a></li>
{% endblock %}

{% block body %}
    {% load static %}
    <div class="content-area">
        <div class="breadcrumb-bar">
            <div class="page-title">
                <h1>ユーザ一覧</h1>
                <span>User List</span>
            </div>

        </div><!-- Breadcrumb Bar -->

        <div class="widgets-wrapper">
            <div class="row">
                <div class="masonary">

                    <div class="col s12">
                        <div class="widget z-depth-1">
                            <div class="loader"></div>
                            <div class="widget-title">

                                <a class="options dropdown-button waves-effect" href="#" title="" data-activates='dropdown10'><i class="ti-more-alt"></i></a>
                                <ul id='dropdown10' class='dropdown-content'>
                                    <li><a class="rld" href="#!" title="">Reload</a></li>
                                    <li><a class="fl-scr" href="#!" title="">Full Screen</a></li>
                                    <li><a class="rmv" href="#!" title="">Remove</a></li>
                                </ul>
                            </div>

                            <div class="live-search">
                                <input id="search" name="search" placeholder="検索フォーム" type="text" data-list=".default_list" autocomplete="off">
                                <ul class="default_list contacts-list scroll">
                                    <li>
                                        <a href="#contactEditUser" title="" class="contact-info" data-number="+1-202-555-0102">
                                            <span class="info-img"><img src="images/contact1.jpg" alt=""></span>
                                            <span class="info-detail"><i class="cnt-name">管理者　太郎</i><i class="mail-id">管理者</i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#contactEditUser" title="" class="contact-info" data-number="+1-202-555-0102">
                                            <span class="info-img"><img src="images/contact2.jpg" alt=""></span>
                                            <span class="info-detail"><i class="cnt-name">店長　二郎</i><i class="mail-id">店長</i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#contactEditUser" title="" class="contact-info" data-number="+1-202-555-0102">
                                            <span class="info-img"><img src="images/contact3.jpg" alt=""></span>
                                            <span class="info-detail"><i class="cnt-name">一般　三郎</i><i class="mail-id">一般</i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#contactEditUser" title="" class="contact-info" data-number="+1-202-555-0102">
                                            <span class="info-img"><img src="images/contact4.jpg" alt=""></span>
                                            <span class="info-detail"><i class="cnt-name">社亜 亜図嬲</i><i class="mail-id">店長</i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#contactEditUser" title="" class="contact-info" data-number="+1-202-555-0102">
                                            <span class="info-img"><img src="images/contact5.jpg" alt=""></span>
                                            <span class="info-detail"><i class="cnt-name">安室 令</i><i class="mail-id">一般</i></span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="more-contacts">
                                    <a href="#contactEditUser" title="" class="btn-floating btn-large waves-effect waves-light red add-contact"><i class="ti-plus"></i></a>
                                    <a href="#" title="">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- Content Area -->

    <div class="modal scroll" id="contactEditUser">
        <div class="modal-content">
            <div class="contact-header blue">
                <h4>Edit Contact</h4>
                <div class="contact-img">
                    <label for="file-input"><img src="images/contact1.jpg" alt="" /></label>
                    <input id="file-input" type="file">
                </div>
                <strong class="contact-name"></strong>
                <div class="contact-groups">
                    <div class="check-field">
                        <input type="checkbox" class="filled-in" id="family" checked="checked" /> <label for="family">Family</label>
                    </div>
                    <div class="check-field">
                        <input type="checkbox" class="filled-in" id="friends" /> <label for="friends">Friends</label>
                    </div>
                    <div class="check-field">
                        <input type="checkbox" class="filled-in" id="work"  /> <label for="work">Work</label>
                    </div>
                    <div class="check-field">
                        <input type="checkbox" class="filled-in" id="others"  /> <label for="others">Others</label>
                    </div>
                </div>
            </div><!-- Contact Header -->

            <div class="contact-body">
                <form>
                    <div class="input-field">
                        <label for="full_name">Full Name</label>
                        <input id="full_name" class="validate" type="text" value="Name" />
                    </div>
                    <div class="input-field">
                        <label for="email_id">Email Address</label>
                        <input id="email_id" class="validate" type="email" value="Email" />
                    </div>
                    <div class="input-field">
                        <label for="phone_number">Phone Number</label>
                        <input id="phone_number" class="validate" type="text" value="Phone" />
                    </div>
                    <div class="input-field">
                        <label for="add">Address</label>
                        <input id="add" class="validate" type="text" value="" />
                    </div>
                    <div class="button-set">
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat pink lighten-2 white-text">Close</button>
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat red white-text delete-contact">Delete</button>
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat green lighten-2 white-text save-contact">Save</button>
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat green lighten-2 white-text add-new-contact">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- Modal Box  -->
{% endblock %}

{% block data-tables %}
    <script>
        jQuery( function($) {
            $('tbody tr[data-href]').addClass('clickable').click( function() {
                window.location = $(this).attr('data-href');
            }).find('a').hover( function() {
                $(this).parents('tr').unbind('click');
            }, function() {
                $(this).parents('tr').click( function() {
                    window.location = $(this).attr('data-href');
                });
            });
        });

        jQuery(function($) {

            $("#foo-table").DataTable({
                // 件数切替機能 無効
                lengthChange: false,
                // 検索機能 無効
                searching: true,
                // ソート機能 無効
                ordering: true,
                // 情報表示 無効
                info: false,
                // ページング機能 無効
                paging: true

            });
        });
    </script>
{% endblock %}