{% extends 'default.html' %}

{% block howtouse %}
    <a href="{% url 'account_tour' %}" title="" class="launch-btn"><i class="ti-view-list-alt red-text"></i> <span>HowToUse</span></a>
{% endblock %}


{% block body %}

    {% load static %}
    <div class="content-area">
        <div class="breadcrumb-bar">
            <div class="page-title">
                <h1>ユーザ一覧</h1>
                <span>User List</span>
            </div>

        </div><!-- Breadcrumb Bar -->
        <div class="widgets-wrapper">
            <div class="row">
                <div class="masonary">

                    <div class="col s12">
                        <div class="widget z-depth-1">
                            <div class="loader"></div>
                            <div class="widget-title">

                                <a class="options dropdown-button waves-effect" href="#" title="" data-activates='dropdown10'><i class="ti-more-alt"></i></a>
                                <ul id='dropdown10' class='dropdown-content'>
                                    <li><a class="rld" href="#!" title="">Reload</a></li>
                                    <li><a class="fl-scr" href="#!" title="">Full Screen</a></li>
                                    <li><a class="rmv" href="#!" title="">Remove</a></li>
                                </ul>
                            </div>
                            <div class="live-search">

                                <ul class="list-group">
                                    {% for user in users %}
                                        <li>
                                            <a href="#contactEditUser" title="" class="contact-info" data-number="{{ user.int_user_id }}">
                                                {#                                            <span class="info-img"><img src="images/contact1.jpg" alt=""></span>#}
                                                <span class="info-detail"><i class="cnt-name">{{ user.int_user.int_dealer.int_name.str_name }}</i><i id="str_auth">{{ user.int_auth.str_auth }}</i></span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="more-contacts">
                                    <a href="#contactEditUser" title="" class="btn-floating btn-large waves-effect waves-light red add-contact"><i class="ti-plus"></i></a>
                                    {#                                    <a href="#" title=""></a>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- Content Area -->

    <div class="modal scroll" id="contactEditUser">
        <div class="modal-content">
            <div class="contact-header blue">
                <h4>ユーザ権限設定</h4>
                <div class="contact-img">
                    {#                    <label for="file-input"><img src="images/contact1.jpg" alt="" /></label>#}
                    <input id="file-input" type="file">
                </div>
                <strong class="contact-name"></strong>
                <div class="contact-groups">
                    <p>
                        <input name="group1" type="radio" id="member" />
                        <label for="member"><span style="color: black; ">一般</span></label>
                        <input name="group1" type="radio" id="leader" />
                        <label for="leader"><span style="color: black; ">店長</span></label>
                        <input class="with-gap" name="group1" type="radio" id="manager"  />
                        <label for="manager"><span style="color: black; ">管理者</span></label>
                    </p>
                </div>
            </div><!-- Contact Header -->

            <div class="contact-body">
                <form>
                    <div class="input-field">
                        <label for="full_name">氏名</label>
                        <input id="full_name" class="validate" type="text" value="Name" />
                    </div>
                    <div class="input-field">
                        <label for="phone_number">ユーザID</label>
                        <input id="phone_number" class="validate" type="text" value="Phone" />
                    </div>
                    <div class="input-field">
                        <label for="add">パスワード</label>
                        <input id="add" class="validate" type="text" value="" />
                    </div>
                    <div class="button-set">
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat pink lighten-2 white-text">Close</button>
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat red white-text delete-contact">Delete</button>
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat green lighten-2 white-text save-contact">Save</button>
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat green lighten-2 white-text add-new-contact">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- Modal Box  -->
{% endblock %}
