{% extends 'default.html' %}

{% block tour %}
    <li><a href="{% url 'authority_tour' %}">Page Tour</a></li>
{% endblock %}

{% block body %}
    {% load static %}
    <div class="content-area">
        <div class="breadcrumb-bar">
            <div class="page-title">
                <h1>ユーザ権限</h1>
                <span>User Authority</span>
            </div>

            <form class="search-admin waves-effect">
                <input type="text" placeholder="Enter Keyword To Search..." />
                <button><i class="ti-search"></i></button>
            </form>

            <ul class="admin-breadcrumb">
                <li><a href="#" title="">Dashboard</a></li>
                {#                <li><a href="#" title="">Pages</a></li>#}
                <li>User Authority</li>
            </ul>
        </div><!-- Breadcrumb Bar -->

        <div class="widgets-wrapper">
            <div class="streaming-table">
                <span id="found" class="label label-info"></span>
                <table id="stream_table" class='table table-striped table-bordered'>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Kana</th>
                        <th>Authority</th>
                        <th>Mail</th>
                        <th>Password</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td>1</td><td>会田 太郎</td><td>あいだたろう</td><td>支店長</td><td>xxxx@xxxx.co.jp</td><td>*********</td></tr>
                    <tr><td>2</td><td>井上 二郎</td><td>いのうえじろう</td><td>一般</td><td>xxxx@gmail.com</td><td>*********</td></tr>
                    <tr><td>3</td><td>植松 三郎</td><td>うえまつさぶろう</td><td>一般</td><td>xxxx@gmail.com</td><td>*********</td></tr>
                    <tr><td>4</td><td>遠藤 史郎</td><td>えんどうしろう</td><td>一般</td><td>xxxx@fine-net.co.jp</td><td>*********</td></tr>
                    <tr><td>5</td><td>恩田 五郎</td><td>おんだごろう</td><td>一般</td><td>xxxx@nifty.com</td><td>*********</td></tr>
                    <tr><td>6</td><td>金子 六郎</td><td>かねころくろう</td><td>一般</td><td>xxxx@xxxx.co.jp</td><td>*********</td></tr>
                    <tr><td>7</td><td>木田 七尾</td><td>きだななお</td><td>一般</td><td>xxxx@gmail.com</td><td>*********</td></tr>
                    <tr><td>8</td><td>工藤 真一</td><td>くどうしんいち</td><td>一般</td><td>xxxx@fine-net.co.jp</td><td>*********</td></tr>
                    <tr><td>9</td><td>毛塚 治虫</td><td>けづかおさむ</td><td>一般</td><td>xxxx@nifty.com</td><td>*********</td></tr>
                    <tr><td>10</td><td>国宝 憲一</td><td>こくほうけんいち</td><td>一般</td><td>xxxx@xxxx.co.jp</td><td>*********</td></tr>
                    <tr><td>47</td><td>竜堂 始</td><td>りゅうどうはじめ</td><td>管理者</td><td>xxxx@gmail.com</td><td>*********</td></tr>
                    </tbody>
                </table>
                <div id="summary">
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Content Area -->



    <ul class="default_list contacts-list scroll">
        <li>
            <a href="#contactEditUser" title="" class="contact-info" data-number="+1-202-555-0102">
                <span class="info-img"><img src="http://placehold.it/128x128" alt=""></span>
                <span class="info-detail"><i class="cnt-name">Gabriel Saunders</i><i class="mail-id">gabriel@materiallab@pro</i></span>
            </a>
        </li>
        <li>
            <a href="#contactEditUser" title="" class="contact-info" data-number="+1-202-555-0102">
                <span class="info-img"><img src="http://placehold.it/128x128" alt=""></span>
                <span class="info-detail"><i class="cnt-name">Shawna Cohen</i><i class="mail-id">shawna@materiallab@pro</i></span>
            </a>
        </li>
        <li>
            <a href="#contactEditUser" title="" class="contact-info" data-number="+1-202-555-0102">
                <span class="info-img"><img src="http://placehold.it/128x128" alt=""></span>
                <span class="info-detail"><i class="cnt-name">Jason Kendall</i><i class="mail-id">jason@materiallab.pro</i></span>
            </a>
        </li>
        <li>
            <a href="#contactEditUser" title="" class="contact-info" data-number="+1-202-555-0102">
                <span class="info-img"><img src="http://placehold.it/128x128" alt=""></span>
                <span class="info-detail"><i class="cnt-name">Thomas Banks</i><i class="mail-id">thomas@materiallab.pro</i></span>
            </a>
        </li>
        <li>
            <a href="#contactEditUser" title="" class="contact-info" data-number="+1-202-555-0102">
                <span class="info-img"><img src="http://placehold.it/128x128" alt=""></span>
                <span class="info-detail"><i class="cnt-name">Rebecca Harrisr</i><i class="mail-id">rebecca@materiallab.pro</i></span>
            </a>
        </li>
    </ul>

    <div class="modal scroll" id="contactEditUser">
        <div class="modal-content">
            <div class="contact-header blue">
                <h4>Edit Contact</h4>
                <div class="contact-img">
                    <label for="file-input"><img src="http://placehold.it/128x128" alt="" /></label>
                    <input id="file-input" type="file">
                </div>
                <strong class="contact-name"></strong>
                <div class="contact-groups">
                    <div class="check-field">
                        <input type="checkbox" class="filled-in" id="family" checked="checked" /> <label for="family">Family</label>
                    </div>
                    <div class="check-field">
                        <input type="checkbox" class="filled-in" id="friends" /> <label for="friends">Friends</label>
                    </div>
                    <div class="check-field">
                        <input type="checkbox" class="filled-in" id="work"  /> <label for="work">Work</label>
                    </div>
                    <div class="check-field">
                        <input type="checkbox" class="filled-in" id="others"  /> <label for="others">Others</label>
                    </div>
                </div>
            </div><!-- Contact Header -->

            <div class="contact-body">
                <form>
                    <div class="input-field">
                        <label for="full_name">Full Name</label>
                        <input id="full_name" class="validate" type="text" value="Name" />
                    </div>
                    <div class="input-field">
                        <label for="email_id">Email Address</label>
                        <input id="email_id" class="validate" type="email" value="Email" />
                    </div>
                    <div class="input-field">
                        <label for="phone_number">Phone Number</label>
                        <input id="phone_number" class="validate" type="text" value="Phone" />
                    </div>
                    <div class="input-field">
                        <label for="add">Address</label>
                        <input id="add" class="validate" type="text" value="" />
                    </div>
                    <div class="button-set">
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat pink lighten-2 white-text">Close</button>
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat red white-text delete-contact">Delete</button>
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat green lighten-2 white-text save-contact">Save</button>
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat green lighten-2 white-text add-new-contact">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- Modal Box  -->
{% endblock %}