{% extends "default.html" %}

{% block howtouse %}
    <a href="{% url 'registration_tour' %}" title="" class="launch-btn"><i class="ti-view-list-alt red-text"></i> <span>HowToUse</span></a>
{% endblock %}

{% block body %}
    {% load static %}

    <div class="content-area">
        <div class="breadcrumb-bar">
            <div class="page-title">
                <h1>見込客登録</h1>
                <span>Potential Customer Registration</span>
            </div>

        </div><!-- Breadcrumb Bar -->

        <div class="widgets-wrapper">
            <div class="row">
                <div class="masonary">

                    <div class="col s12">
                        <div class="widget z-depth-1">
                            <div class="loader"></div>
                            <div class="widget-title">
                                <h3>Steps Form</h3>
                                <p>Completely Functional Steps Form</p>
                                <a class="options dropdown-button waves-effect" href="#" title="" data-activates='dropdown3'><i class="ti-more-alt"></i></a>
                                <ul id='dropdown3' class='dropdown-content'>
                                    <li><a class="rld" href="#!" title="">Reload</a></li>
                                    <li><a class="fl-scr" href="#!" title="">Full Screen</a></li>
                                    <li><a class="rmv" href="#!" title="">Remove</a></li>
                                </ul>
                            </div>

                            <form id="example-form" action="#">
                                <div>
                                    <h3>Profile</h3>
                                    <section>
                                        <div class="input-field">
                                            <label for="userName">顧客名 *</label>
                                            <input id="userName" name="userName" type="text" class="required">
                                        </div>
                                        <div class="input-field">
                                            <label for="userNameKana">ふりがな *</label>
                                            <input id="userNameKana" name="userNameKana" type="text" class="required">
                                        </div>
                                        <div class="input-field">
                                            <label for="email">メールアドレス *</label>
                                            <input id="email" name="email" type="email" class="required">
                                        </div>
                                        <p>(*) 必須項目</p>
                                    </section>
                                    <h3>住所</h3>
                                    <section>

                                        <div class="input-field">
                                            <label for="surname">都道府県 *</label>
                                            <input id="surname" name="surname" type="text" class="required">
                                        </div>
                                        <div class="input-field">
                                            <label for="address">市町村</label>
                                            <input id="address" name="address" type="text">
                                        </div>
                                        <div class="input-field">
                                            <label for="zip">郵便番号 *</label>
                                            <input id="zip" name="text" type="text" class="required">
                                        </div>
                                        <p>(*) 必須項目</p>
                                    </section>
                                    <h3>物件情報その他</h3>
                                    <section>
                                        <div class="input-field">
                                            <label for="name">建物名 *</label>
                                            <input id="name" name="name" type="text" class="required">
                                        </div>
                                        <div class="input-field">
                                            <label for="name">反響元 *</label>
                                            <input id="name" name="name" type="text" class="required">
                                        </div>
                                        <div class="input-field">
                                            <label for="name">媒体 *</label>
                                            <input id="name" name="name" type="text" class="required">
                                        </div>
                                        <p>(*) 必須項目</p>
                                    </section>

                                </div>
                            </form>
                        </div><!-- Widget -->
                    </div>

                </div>
            </div>
        </div>

    </div><!-- Content Area -->

{% endblock %}
