{% extends "default.html" %}

{% block tour %}
    <li><a href="{% url 'index' %}">Page Tour</a></li>
{% endblock %}

{% block index-modal %}

{% endblock %}

{% block body %}
    {% load static %}

    <div class="content-area">
        <div class="breadcrumb-bar">
            <div class="page-title">
                <h1>見込客一覧</h1>
                <span>Potential Customer List</span>
            </div>

            <form class="search-admin waves-effect">
                <input type="text" placeholder="Enter Keyword To Search..." />
                <button><i class="ti-search"></i></button>
            </form>

            <ul class="admin-breadcrumb">
                <li><a href="#" title="">Dashboard</a></li>
                {#                <li><a href="#" title="">Pages</a></li>#}
                <li>Potential Customer List</li>
            </ul>
        </div><!-- Breadcrumb Bar -->

        <div class="widgets-wrapper">
            <div class="streaming-table">
                <span id="found" class="label label-info"></span>
                <table id="stream_table" class='table table-bordered'>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>PremiseName</th>
                        <th>Address</th>
                        <th>PhoneNumber</th>
                        <th>Registered</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td>1</td><td><a href="#modal999">会田 太郎</a></td><td>メゾン平間</td><td>北海道</td><td>090-xxxx-xxxx</td><td>2019/02/09</td></tr>
                    <tr><td>2</td><td><a href="#modal999">井上 二郎</a></td><td>ルグラン301</td><td>青森県</td><td>090-xxxx-xxxx</td><td>2020/01/23</td></tr>
                    <tr><td>3</td><td><a href="#modal999">植松 三郎</a></td><td>エントランス中松</td><td>岩手県</td><td>090-xxxx-xxxx</td><td>2019/12/05</td></tr>
                    <tr><td>4</td><td><a href="#modal999">遠藤 史郎</a></td><td>ハイツカヤヌマ</td><td>宮城県</td><td>090-xxxx-xxxx</td><td>2019/11/30</td></tr>
                    <tr><td>5</td><td><a href="#modal999">恩田 五郎</a></td><td>グランドール101</td><td>秋田県</td><td>090-xxxx-xxxx</td><td>2020/01/24</td></tr>
                    <tr><td>6</td><td><a href="#modal999">金子 六郎</a></td><td>グランドール201</td><td>山形県</td><td>090-xxxx-xxxx</td><td>2020/02/18</td></tr>
                    <tr><td>7</td><td><a href="#modal999">木田 七尾</a></td><td>ラビングパレス</td><td>福島県</td><td>090-xxxx-xxxx</td><td>2020/03/05</td></tr>
                    <tr><td>8</td><td><a href="#modal999">工藤 真一</a></td><td>恵比寿ガーデンプレイス</td><td>茨城県</td><td>090-xxxx-xxxx</td><td>2019/10/29</td></tr>
                    <tr><td>9</td><td><a href="#modal999">毛塚 治虫</a></td><td>長野駅徒歩2分</td><td>栃木県</td><td>090-xxxx-xxxx</td><td>2019/08/15</td></tr>
                    <tr><td>10</td><td><a href="#modal999">国宝 憲一</a></td><td>mannish202</td><td>群馬県</td><td>090-xxxx-xxxx</td><td>2020/01/16</td></tr>
                    <tr><td>47</td><td><a href="#modal999">竜堂 始</a></td><td>パレス桑名</td><td>沖縄県</td><td>090-xxxx-xxxx</td><td>2020/03/28</td></tr>
                    </tbody>
                </table>
                <div id="summary">
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Content Area -->

    <div class="modal scroll" id="modal999">
        <div class="modal-content">
            <div class="contact-header blue">
                <h4>Edit Contact</h4>
                <div class="contact-img">
                    <label for="file-input"><img src="http://placehold.it/128x128" alt="" /></label>
                    <input id="file-input" type="file">
                </div>
                <strong class="contact-name"></strong>
                <div class="contact-groups">
                    <div class="check-field">
                        <input type="checkbox" class="filled-in" id="family" checked="checked" /> <label for="family">Family</label>
                    </div>
                    <div class="check-field">
                        <input type="checkbox" class="filled-in" id="friends" /> <label for="friends">Friends</label>
                    </div>
                    <div class="check-field">
                        <input type="checkbox" class="filled-in" id="work"  /> <label for="work">Work</label>
                    </div>
                    <div class="check-field">
                        <input type="checkbox" class="filled-in" id="others"  /> <label for="others">Others</label>
                    </div>
                </div>
            </div><!-- Contact Header -->

            <div class="contact-body">
                <form>
                    <div class="input-field">
                        <label for="full_name">Full Name</label>
                        <input id="full_name" class="validate" type="text" value="Name" />
                    </div>
                    <div class="input-field">
                        <label for="email_id">Email Address</label>
                        <input id="email_id" class="validate" type="email" value="Email" />
                    </div>
                    <div class="input-field">
                        <label for="phone_number">Phone Number</label>
                        <input id="phone_number" class="validate" type="text" value="Phone" />
                    </div>
                    <div class="input-field">
                        <label for="add">Address</label>
                        <input id="add" class="validate" type="text" value="" />
                    </div>
                    <div class="button-set">
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat pink lighten-2 white-text">Close</button>
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat red white-text delete-contact">Delete</button>
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat green lighten-2 white-text save-contact">Save</button>
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat green lighten-2 white-text add-new-contact">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- Modal Box  -->

    <script src="{% static 'delight/js/datatable.js' %}"></script>

{% endblock %}

{% block tour-js %}
    <script src="{% static 'delight/js/impromptu.js' %}"></script>
    <script src="{% static 'delight/js/tour-index.js' %}"></script>
{% endblock %}



