{% extends "default.html" %}

{% block howtouse %}
    <a href="{% url 'index_tour' %}" title="" class="launch-btn"><i class="ti-view-list-alt red-text"></i> <span>HowToUse</span></a>
{% endblock %}

{% block index-modal %}

{% endblock %}

{% block body %}
    {% load static %}

    <div class="content-area">
        <div class="breadcrumb-bar">
            <div class="page-title">
                <h1>見込客一覧</h1>
                <span>Potential Customer List</span>
            </div>

        </div><!-- Breadcrumb Bar -->

        <div class="widgets-wrapper">
            <div class="streaming-table">
                <span id="found" class="label label-info"></span>
                <table id="stream_table" class='table table-bordered'>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>PremiseName</th>
                        <th>Address</th>
                        <th>PhoneNumber</th>
                        <th>Registered</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-href="{% url 'customer_detail' %}" class="customer-table"><td>1</td><td>会田 太郎</td><td>メゾン平間</td><td>北海道</td><td>090-xxxx-xxxx</td><td>2019/02/09</td></tr>
                    <tr data-href="{% url 'customer_detail' %}" class="customer-table"><td>2</td><td>井上 二郎</td><td>ルグラン301</td><td>青森県</td><td>090-xxxx-xxxx</td><td>2020/01/23</td></tr>
                    <tr data-href="{% url 'customer_detail' %}" class="customer-table"><td>3</td><td>植松 三郎</td><td>エントランス中松</td><td>岩手県</td><td>090-xxxx-xxxx</td><td>2019/12/05</td></tr>
                    <tr data-href="{% url 'customer_detail' %}" class="customer-table"><td>4</td><td>遠藤 史郎</td><td>ハイツカヤヌマ</td><td>宮城県</td><td>090-xxxx-xxxx</td><td>2019/11/30</td></tr>
                    <tr data-href="{% url 'customer_detail' %}" class="customer-table"><td>5</td><td>恩田 五郎</td><td>グランドール101</td><td>秋田県</td><td>090-xxxx-xxxx</td><td>2020/01/24</td></tr>
                    <tr data-href="{% url 'customer_detail' %}" class="customer-table"><td>6</td><td>金子 六郎</td><td>グランドール201</td><td>山形県</td><td>090-xxxx-xxxx</td><td>2020/02/18</td></tr>
                    <tr data-href="{% url 'customer_detail' %}" class="customer-table"><td>7</td><td>木田 七尾</td><td>ラビングパレス</td><td>福島県</td><td>090-xxxx-xxxx</td><td>2020/03/05</td></tr>
                    <tr data-href="{% url 'customer_detail' %}" class="customer-table"><td>8</td><td>工藤 真一</td><td>恵比寿ガーデンプレイス</td><td>茨城県</td><td>090-xxxx-xxxx</td><td>2019/10/29</td></tr>
                    <tr data-href="{% url 'customer_detail' %}" class="customer-table"><td>9</td><td>毛塚 治虫</td><td>長野駅徒歩2分</td><td>栃木県</td><td>090-xxxx-xxxx</td><td>2019/08/15</td></tr>
                    <tr data-href="{% url 'customer_detail' %}" class="customer-table"><td>10</td><td>国宝 憲一</td><td>mannish202</td><td>群馬県</td><td>090-xxxx-xxxx</td><td>2020/01/16</td></tr>
                    <tr data-href="{% url 'customer_detail' %}" class="customer-table"><td>47</td><td>竜堂 始</td><td>パレス桑名</td><td>沖縄県</td><td>090-xxxx-xxxx</td><td>2020/03/28</td></tr>
                    </tbody>
                </table>
                <div id="summary">
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Content Area -->

{% endblock %}


