{% extends "default.html" %}
{% block body %}

    <div class="loader-container circle-pulse-multiple">
        <div class="page-loader">
            <div id="loading-center-absolute">
                <div class="object" id="object_four"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_one"></div>
            </div>
        </div>
    </div>
    <div class="login-page">
        <div class="login-form-box z-depth-1">
            <h1>Serita Tracking System</h1>
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
                <div class="input-field">
                    <input type="email" id="email">
                    <label for="email">Email</label>
                </div>

                <div class="input-field">
                    <input type="text" id="id_password">
                    <label for="id_password">Password</label>
                </div>
                <div class="input-field">
                    <input type="checkbox" id="remember">
                    <label for="remember">ログイン状態を継続</label>
                </div>
                <button class="btn waves-effect waves-light red" type="submit">Sign In</button>
                <a href="forget.html" title="">パスワード再発行</a>
                <a href="register.html" title="">新規アカウント</a>
            </form>
        </div>
    </div>
{% endblock %}

