{% extends "default.html" %}

{% block howtouse %}
    <a href="{% url 'unassigned_tour' %}" title="" class="launch-btn"><i class="ti-view-list-alt red-text"></i> <span>HowToUse</span></a>
{% endblock %}

{% block body %}
    {% load static %}

    <div class="content-area">
        <div class="breadcrumb-bar">
            <div class="page-title">
                <h1>未割り当て一覧</h1>
                <span>Potential Customer List</span>
            </div>

        </div><!-- Breadcrumb Bar -->

        <div class="widgets-wrapper">
            <div class="streaming-table">
                <span id="found" class="label label-info"></span>
                <table id="foo-table" class='table table-striped table-bordered'>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>PremiseName</th>
                        <th>Address</th>
                        <th>PhoneNumber</th>
                        <th>Registered</th>
                    </tr>
                    </thead>
                    {% for potential_customer in potential_customers %}
                        <tr data-href="{% url 'unassigned_detail' potential_customer.id %}" class="customer-table">
                            <td>{{ potential_customer.id }}</td>
                            <td>{{ potential_customer.str_name }}</td>
                            <td>{{ potential_customer.int_information_premise.str_name }}</td>
                            <td>{{ potential_customer.int_media.str_media }}</td>
                            <td>{{ potential_customer.str_tel }}</td>
                            <td>{{ potential_customer.dat_created_at }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div id="summary">
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Content Area -->

    <div class="modal scroll" id="contactEditUser">
        <div class="modal-content">
            <div class="contact-header blue">
                <h4>Edit Contact</h4>
                <div class="contact-img">
                    <label for="file-input"><img src="http://placehold.it/128x128" alt="" /></label>
                    <input id="file-input" type="file">
                </div>
                <strong class="contact-name"></strong>
                <div class="contact-groups">
                    <div class="check-field">
                        <input type="checkbox" class="filled-in" id="family" checked="checked" /> <label for="family">Family</label>
                    </div>
                    <div class="check-field">
                        <input type="checkbox" class="filled-in" id="friends" /> <label for="friends">Friends</label>
                    </div>
                    <div class="check-field">
                        <input type="checkbox" class="filled-in" id="work"  /> <label for="work">Work</label>
                    </div>
                    <div class="check-field">
                        <input type="checkbox" class="filled-in" id="others"  /> <label for="others">Others</label>
                    </div>
                </div>
            </div><!-- Contact Header -->

            <div class="contact-body">
                <form>
                    <div class="input-field">
                        <label for="full_name">Full Name</label>
                        <input id="full_name" class="validate" type="text" value="Name" />
                    </div>
                    <div class="input-field">
                        <label for="email_id">Email Address</label>
                        <input id="email_id" class="validate" type="email" value="Email" />
                    </div>
                    <div class="input-field">
                        <label for="phone_number">Phone Number</label>
                        <input id="phone_number" class="validate" type="text" value="Phone" />
                    </div>
                    <div class="input-field">
                        <label for="add">Address</label>
                        <input id="add" class="validate" type="text" value="" />
                    </div>
                    <div class="button-set">
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat pink lighten-2 white-text">Close</button>
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat red white-text delete-contact">Delete</button>
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat green lighten-2 white-text save-contact">Save</button>
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat green lighten-2 white-text add-new-contact">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- Modal Box  -->

{% endblock %}

{% block data-tables %}
    <script>
        jQuery( function($) {
            $('tbody tr[data-href]').addClass('clickable').click( function() {
                window.location = $(this).attr('data-href');
            }).find('a').hover( function() {
                $(this).parents('tr').unbind('click');
            }, function() {
                $(this).parents('tr').click( function() {
                    window.location = $(this).attr('data-href');
                });
            });
        });

        jQuery(function($) {

            $("#foo-table").DataTable({
                // 件数切替機能 無効
                lengthChange: false,
                // 検索機能 無効
                searching: true,
                // ソート機能 無効
                ordering: true,
                // 情報表示 無効
                info: false,
                // ページング機能 無効
                paging: true

            });
        });
    </script>
{% endblock %}